.spacer {
  flex: 1;
}

.login {
  border-radius: 12%;
  background-color: rgb(3, 24, 103);
  margin-right: 2%;
  height: 60%;
  width: 9%;
}

.register {
  border-radius: 12%;
  background-color: burlywood;
  height: 60%;
  width: 9%;
}
